body{
    color: rgb(250, 236, 245);
    color: rgb(11, 245, 11);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
}
.container{
    border: 2px solid rgb(192, 132, 132);
    width: 70%;
    padding: 1em;
    background: rgb(36, 21, 21);
    background: rgb(70, 2, 2);
    text-align: left;
    /* padding: 10px 5px; */
}
.container h1{
    font-size: 20px;
}